<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head :: head(${pageTitle})"></th:block>
<body class="d-flex flex-column min-vh-100">
<div th:insert="fragments/header">
</div>
<main class="flex-fill">
    <div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-12">
				<form method="POST" th:action="@{/saveVehicule}" th:object="${vehicule}">
					<input type="hidden" name="id" th:field="*{vehicule_id}"/>
					<div class="form-group p-2">
						<label for="nom">Marque</label>
						<input type="text" class="form-control" id="nom" th:field="*{vehicule_marque}">
					</div>
					<div class="form-group p-2">
						<label for="mail">Modele</label>
						<input type="text" class="form-control" id="mail" th:field="*{vehicule_modele}">
					</div>
					<button type="submit" class="btn btn-success m-2" th:text="${vehicule.vehicule_id} == null ? 'Créer' : 'Modifier'">Créer/modifier</button>
				</form>
			</div>
		</div>
	</div>
</main>
<div th:insert="fragments/footer">
</div>
</body>
</html>