<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head :: head(${pageTitle})"></th:block>
<body class="d-flex flex-column min-vh-100">
<div th:insert="fragments/header">
</div>
<main class="flex-fill">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-12 pt-5 pb-5">
                <div class="d-flex flex-column">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Chercher un vehicule...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="myTable" class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Marque</th>
                        <th>Modele</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(vehicules)}">
                        <td colspan="3">Aucun vehicule</td>
                    </tr>
                    <tr th:each="vehicule : ${vehicules}">
                        <td><span th:text="${vehicule.vehicule_id}">Id</span></td>
                        <td><span th:text="${vehicule.vehicule_marque}">Marque</span></td>
                        <td><span th:text="${vehicule.vehicule_modele}">Modele</span></td>
                        <td>
                            <a th:href="@{/vehicule-modification/{id}(id=${vehicule.vehicule_id})}">
                                <button class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                            </a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#suppVehicule_' + ${vehicule.vehicule_id}"><i class="fa-solid fa-trash"></i></button>
                            <div class="modal fade" th:id="'suppVehicule_' + ${vehicule.vehicule_id}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="ModalLabel">Supprimer <span th:text="${vehicule.vehicule_marque}"></span></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Voulez vous vraiment supprimer <span th:text="${vehicule.vehicule_marque}"></span> ? <br>
                                            Id: <span th:text="${vehicule.vehicule_id}"></span><br>
                                            Marque: <span th:text="${vehicule.vehicule_marque}"></span><br>
                                            Modele: <span th:text="${vehicule.vehicule_modele}"></span><br>
                                        </div>
                                        <div class="modal-footer">
                                            <a th:href="@{/deleteVehicule/{id}(id=${vehicule.vehicule_id})}" class="btn btn-danger">Confirmer</a>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <a href="vehicule-creation"><button type="button" class="btn btn-outline-primary">Créer</button></a>
        </div>
    </div>
</main>
<div th:insert="fragments/footer">
</div>
</body>
</html>